<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tyvon.iron" android:versionCode="1" android:versionName="2.0.0-preview">
<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.VIBRATE"/>
<application android:allowBackup="false" android:usesCleartextTraffic="false" android:label="TYVON Iron" android:theme="@style/AppTheme" android:icon="@drawable/mark">
<activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden|fontScale" android:windowSoftInputMode="adjustResize"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
<provider android:name=".ShareProvider" android:authorities="com.tyvon.iron.share" android:exported="false" android:grantUriPermissions="true"/>
</application></manifest>
